@use "utils" as var;

.container {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(4rem, 1fr)
    [grid-col-start]
    repeat(17, [col-start] minmax(min-content, 8rem) [col-end])
    [grid-col-end]
    minmax(4rem, 1fr)
    [full-end];

  grid-template-rows: repeat(10, [row-start] 8rem [row-end]);

  @media only screen and (max-width: var.$bp-large) {
    grid-template-rows: repeat(15, [row-start] 8rem [row-end]);
  }
}
