.container {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(4rem, 1fr)
    [grid-col-start]
    repeat(17, [col-start] minmax(min-content, 8rem) [col-end])
    [grid-col-end]
    minmax(4rem, 1fr)
    [full-end];

  grid-template-rows: repeat(10, 8rem);
  background-color: orangered;
}
