@use "utils" as var;

.header {
  grid-column: grid-col-start / grid-col-end;
  grid-row: 1 / span 1;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  padding: 0 2rem;

  @media only screen and (max-width: var.$bp-small) {
    grid-column: full-start / full-end;
    justify-content: space-between;
    padding: 0 5%;
  }
}

.logo-box {
  margin-right: 5.3rem;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navigation {
  &__items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 3rem;
  }

  &__link,
  &__link,
  &__visited {
    text-decoration: none;
    text-transform: lowercase;
    color: var.$White;
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var.$White;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    top: 200%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &__link:hover::before {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }
}
