@use "utils" as var;

.slider {
  display: flex;
  grid-column: col-start 11 / span 2;
  grid-row: row-start 7 / row-end 7;
  width: 100%;

  @media only screen and (max-width: var.$bp-large) {
    grid-column: col-start 15 / full-end;
    grid-row: row-start 7 / row-end 7;
  }

  @media only screen and (max-width: var.$bp-smallest) {
    grid-row: 2 / span 1;
    align-items: flex-end;
  }

  &__btn {
    width: 50%;
    background-color: var.$Black;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media only screen and (max-width: var.$bp-smallest) {
      padding: 2rem;
    }
  }

  &__btn:hover {
    background-color: var.$Very-Dark-Gray;
  }
}

// HAMBURGER MENU
.hamburger {
  display: none;
  @media only screen and (max-width: var.$bp-smallest) {
    display: block;
    flex: 1;
  }

  &__icon {
    cursor: pointer;
    display: inline-block;
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 14px;
    width: 20px;
  }
}

.icon-cross {
  background-image: url(../images/icon-close.svg);
  width: 16px;
  height: 16px;
}

.logo-hide {
  display: none;
}

.header-white {
  background-color: #fff;
}

.show-navigation {
  transform: translateX(0px);
  position: relative;
  opacity: 1;
  visibility: visible;
  color: var.$Black;
}
.color-black {
  color: var.$Black;
}

.overlay {
  display: none;
}

.overlay-show {
  display: block;
  background-color: var.$Black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
