@use "../utils" as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 10/16 = 62.5%  1rem = 10px

  @media only screen and (max-width: var.$bp-largest) {
    font-size: 55%;
  }
}

body {
  font-family: var.$font-primary;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}
