@use "../utils" as var;

.heading-1 {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.5rem;
  letter-spacing: -0.2rem;

  @media only screen and (max-width: var.$bp-smallest) {
    font-size: 3.5rem;
  }
}

.heading-2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: 0.7rem;
}

.detail-paragraph {
  color: var.$Dark-Gray;
}

.cta,
.cta:link,
.cta:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var.$Black;
  letter-spacing: 1.1rem;
  transition: all 0.2s ease-in-out;
}

.cta::after {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 6rem;
  margin-left: 3rem;
  // background-image: url(../../images/icon-arrow.svg);
  // background-size: cover;
  background-color: var.$Black;
  -webkit-mask-image: url(../images/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(../images/icon-arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;

  transition: all 0.2s ease-in-out;
}

.cta:hover,
.cta:active {
  color: var.$Dark-Gray;
}

.cta:hover::after {
  background-color: var.$Dark-Gray;
}
