// ### Primary Colors

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

// ## Font Family
$font-primary: "Spartan", sans-serif;

// ## RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //     1200px
$bp-large: 56.25em; //    900px
$bp-medium: 50em; //      800px
$bp-small: 31.25em; //    500px
$bp-smallest: 25em; //    400px
$bp-fold: 21.875em; //    350px
